html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: auto;
  margin: auto;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1200px; }

h1 {
  font-size: 3em; }
  @media only screen and (max-width: 915px) {
    h1 {
      font-size: 2.5em; } }
  @media only screen and (max-width: 690px) {
    h1 {
      font-size: 1.75em; } }

button {
  padding: 12px 32px;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: solid 2px #FFF;
  color: #FFF;
  border-radius: 4px;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out; }
  button a {
    color: #FFF;
    text-decoration: none; }
    button a:hover {
      color: #000; }
  button:hover {
    cursor: pointer;
    background-color: #FFF;
    color: #000; }

.top {
  height: 400px;
  width: 100vw; }
  @media only screen and (max-width: 915px) {
    .top {
      height: 300px; } }
  @media only screen and (max-width: 690px) {
    .top {
      height: 200px; } }
  .top .black-box {
    height: 200px; }

.white-box {
  background-color: #FFF; }

.black-box {
  background-color: #000;
  color: #FFF; }

.menu {
  position: relative;
  top: 10%; }
  @media only screen and (max-width: 690px) {
    .menu {
      top: auto; } }

.img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #FFF;
  width: 100vw;
  height: 100vh; }
  @media only screen and (max-width: 915px) {
    .img-gallery {
      height: 80vh; } }
  @media only screen and (max-width: 690px) {
    .img-gallery {
      display: inline;
      width: 100%; } }
  .img-gallery .big-tile {
    width: 50%;
    height: 100%; }
    @media only screen and (max-width: 690px) {
      .img-gallery .big-tile {
        width: 100%;
        height: 300px; } }
  .img-gallery .small-tile {
    width: 100%;
    height: 50%; }
    @media only screen and (max-width: 690px) {
      .img-gallery .small-tile {
        height: 300px;
        width: 100%; } }

#pdx-comedy {
  content: "";
  background-image: url("../img/pdx-comedy.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  background-color: rgba(83, 27, 121, 0.2); }

#marine-network {
  content: "";
  background-image: url("../img/marine-network-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

.red {
  background-color: red; }

.blue {
  background-color: blue; }

.green {
  background-color: green; }

.white-box, .black-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.img-gallery .big-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.white-box, .black-box {
  height: 400px;
  width: 100vw; }
  @media only screen and (max-width: 915px) {
    .white-box, .black-box {
      height: 300px; } }
  @media only screen and (max-width: 690px) {
    .white-box, .black-box {
      height: 200px; } }

.top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  line-height: 50%; }
  .top .menu {
    line-height: normal; }
    .top .menu a {
      text-decoration: none;
      font-family: 'Dosis', sans-serif;
      color: #FFF;
      -webkit-transition: all 200ms ease-in-out;
      transition: all 200ms ease-in-out; }
      .top .menu a:hover {
        -webkit-transform: scale(1.15);
                transform: scale(1.15); }
  .top #page-title {
    font-size: 5em; }
    @media only screen and (max-width: 915px) {
      .top #page-title {
        font-size: 3em; } }
    @media only screen and (max-width: 690px) {
      .top #page-title {
        font-size: 2.25em; } }
  .top #page-subtitle {
    font-size: 2em; }
    @media only screen and (max-width: 915px) {
      .top #page-subtitle {
        font-size: 1.5em; } }
    @media only screen and (max-width: 690px) {
      .top #page-subtitle {
        font-size: 1.15em; } }

.logo {
  height: 50px;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out; }

#top-logo {
  display: none; }
  @media only screen and (max-width: 690px) {
    #top-logo {
      display: block; } }

#bw-logo {
  height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 290px; }
  @media only screen and (max-width: 915px) {
    #bw-logo {
      height: 150px;
      top: 225px; } }
  @media only screen and (max-width: 690px) {
    #bw-logo {
      display: none; } }
