.white-box {
  @extend %box-format;
  @extend %box-height;
  background-color: $light-color;
}
.black-box {
  @extend %box-format;
  @extend %box-height;
  background-color: $dark-color;
  color: $light-color;
}
.img-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  img {
    height: 300px;
  }

}
