.top {
  height: 400px;
  width: 100vw;

  @media only screen and (#{$break-tablet}) {
      height: 300px;
    }
  @media only screen and (#{$break-mobile}) {
      height: 200px;
    }
  .black-box {
    height: 200px;
  }
}
.white-box {
  @extend %box-format;
  @extend %box-height;
  // height: 100%;
  // width: 100vw;

  background-color: $light-color;
}
.black-box {
  @extend %box-format;
  @extend %box-height;
  // height: 100%;
  // width: 100vw;

  background-color: $dark-color;
  color: $light-color;

}

.menu {
  position: relative;
  top: 5%;
  @media only screen and (#{$break-mobile}) {
      top: auto;
    }
}
.img-gallery {
  @include clearfix;
  display: flex;
  flex-direction: row;
  color: $light-color;
  // justify-content: center;
  width: 100vw;
  height: 100vh;
  text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  @media only screen and (#{$break-mobile}) {

      display: inline;
      // width: 100%;
    }
  h1 {
    margin: 0;
  }
  .big-tile {
    @include clearfix;
    width: 50%;
    height: 100%;
    background-color: $dark-color;
    @extend %img-gallery-flex;

    @media only screen and (#{$break-mobile}) {
      width: 100%;
      height: 100%;
      }
  }

  .small-tile {
    @include clearfix;
    width: 100%;
    height: 50%;
    @extend %img-gallery-flex;
    @media only screen and (#{$break-mobile}) {
        height: 300px;
        width: 100%;
      }

  }


}
.links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
}

.bio {
  text-shadow: none;
  width: 60%;
  @media only screen and (#{$break-tablet}) {
      width: 85%;
    }
  @media only screen and (#{$break-mobile}) {
      width: 90%;
    }
}

#pdx-comedy {
  @include background-img("../img/pdx-comedy.jpg");
    @media only screen and (#{$break-mobile}) {
      height: 300px;
      width: 100%;
    }
}

#marine-network {
  @include background-img("../img/marine-network-bg.png");
}

#qna {
  @include background-img("../img/qna-bg.JPG");
}

#kj-img {
  @include background-img("../img/Kevin_Johnston.png");
  @media only screen and (#{$break-mobile}) {
      display: none;
    }
}
