.top {
  @extend %box-height;
}
.white-box {
  @extend %box-format;
  height: 100%;
  background-color: $light-color;
}
.black-box {
  @extend %box-format;
  height: 100%;
  background-color: $dark-color;
  color: $light-color;
}
.img-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
  width: 100%;
  img {
    height: 300px;
    transition: all 250ms ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }

}
