.white-box {
  @extend %box-format;
  @extend %box-height;
  background-color: $light-color;
}
.black-box {
  @extend %box-format;
  @extend %box-height;
  background-color: $dark-color;
  color: $light-color;
}
