%box-format {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

%img-gallery-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

%box-height {
  height: 400px;
  width: 100vw;

  @media only screen and (#{$break-tablet}) {
      height: 300px;
    }
  @media only screen and (#{$break-mobile}) {
      height: 200px;
    }
}
