.logo{
  height: 50px;
  transition: all 250ms ease-in-out;
}

#top-logo {
  display: none;
  @media only screen and (#{$break-mobile}) {
      display: block;
    }
}

#bw-logo {
  // display: none;
  height: 220px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 290px;
  @media only screen and (#{$break-tablet}) {
      height: 150px;
      top: 225px;
    }
  @media only screen and (#{$break-mobile}) {
      display: none;
    }

}
