.top {
  justify-content: center;
  text-align: center;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  line-height: 40%;
  a {
    text-decoration: none;
    color: $light-color;
    transition: all 200ms ease-in-out;
    &:hover {
      transform: scale(1.15);
    }
  }
  #page-title {
    font-size: 5em;
    @media only screen and (#{$break-tablet}) {
        font-size: 3em;
      }
    @media only screen and (#{$break-mobile}) {
        font-size: 2em;
      }
  }
  #page-subtitle {
    font-size: 2em;
    @media only screen and (#{$break-tablet}) {
        font-size: 1em;
      }
  }
}
