body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-right: auto;
  margin: auto;
  // position: relative;
  font-family: 'Dosis', sans-serif;
  margin: 0;
  padding: 0;
  max-width: 1200px;
}

h1 {
  font-size: 3em;
  @media only screen and (#{$break-tablet}) {
      font-size: 2.5em;
    }
  @media only screen and (#{$break-mobile}) {
      font-size: 2.2em;
    }
}

h2 {
  @media only screen and (#{$break-mobile}) {
      font-size: 1.25em;
    }
}

button {
  margin: 5px;
  padding: 12px 32px;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
  background-color: Transparent;
  background-repeat:no-repeat;
  border: solid 2px $light-color;
  color: $light-color;
  border-radius: 4px;
  transition: all 300ms ease-in-out;
  a {
    color: $light-color;
    text-decoration: none;
    &:hover {
      color: $dark-color;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: $light-color;
    color: $dark-color;

  }


}
